.hybrid {
  background-color: #f4bf6c;
}
.hybrid a, .hybrid a:link, .hybrid a:visited {
  color: black;
}
rect.hybrid {
  fill: #f4bf6c;
  stroke: black;
}
.hybrid.active {
  border-color: black;
  border-width: 2px;
  border-style: solid;
}
.hybrid:hover {
  background-color: #f7d297;
}

.TMA {
  background-color: #893f75;
}
.TMA a, .TMA a:link, .TMA a:visited {
  color: white;
}
rect.TMA {
  fill: #893f75;
  stroke: orangered;
}
.TMA.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.TMA:hover {
  background-color: #a84d90;
}

.proline2aminovalerate {
  background-color: #893f75;
}
.proline2aminovalerate a, .proline2aminovalerate a:link,
.proline2aminovalerate a:visited {
  color: white;
}
rect.proline2aminovalerate {
  fill: #893f75;
  stroke: orangered;
}
.proline2aminovalerate.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.proline2aminovalerate:hover {
  background-color: #a84d90;
}

.EUT_pathway {
  background-color: #893f75;
}
.EUT_pathway a, .EUT_pathway a:link, .EUT_pathway a:visited {
  color: white;
}
rect.EUT_pathway {
  fill: #893f75;
  stroke: orangered;
}
.EUT_pathway.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.EUT_pathway:hover {
  background-color: #a84d90;
}

.pdu {
  background-color: #893f75;
}
.pdu a, .pdu a:link, .pdu a:visited {
  color: white;
}
rect.pdu {
  fill: #893f75;
  stroke: orangered;
}
.pdu.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.pdu:hover {
  background-color: #a84d90;
}

.p-cresol {
  background-color: #893f75;
}
.p-cresol a, .p-cresol a:link, .p-cresol a:visited {
  color: white;
}
rect.p-cresol {
  fill: #893f75;
  stroke: orangered;
}
.p-cresol.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.p-cresol:hover {
  background-color: #a84d90;
}

.Threonine2propionate {
  background-color: #893f75;
}
.Threonine2propionate a, .Threonine2propionate a:link,
.Threonine2propionate a:visited {
  color: white;
}
rect.Threonine2propionate {
  fill: #893f75;
  stroke: orangered;
}
.Threonine2propionate.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.Threonine2propionate:hover {
  background-color: #a84d90;
}

.GR_AA_metabolism {
  background-color: #893f75;
}
.GR_AA_metabolism a, .GR_AA_metabolism a:link, .GR_AA_metabolism a:visited {
  color: white;
}
rect.GR_AA_metabolism {
  fill: #893f75;
  stroke: orangered;
}
.GR_AA_metabolism.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.GR_AA_metabolism:hover {
  background-color: #a84d90;
}

.GR_eut-pdu-related {
  background-color: #893f75;
}
.GR_eut-pdu-related a, .GR_eut-pdu-related a:link, .GR_eut-pdu-related a:visited {
  color: white;
}
rect.GR_eut-pdu-related {
  fill: #893f75;
  stroke: orangered;
}
.GR_eut-pdu-related.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.GR_eut-pdu-related:hover {
  background-color: #a84d90;
}

.GR_fatty_acids {
  background-color: #893f75;
}
.GR_fatty_acids a, .GR_fatty_acids a:link, .GR_fatty_acids a:visited {
  color: white;
}
rect.GR_fatty_acids {
  fill: #893f75;
  stroke: orangered;
}
.GR_fatty_acids.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.GR_fatty_acids:hover {
  background-color: #a84d90;
}

.Leucine_reduction {
  background-color: #b44e57;
}
.Leucine_reduction a, .Leucine_reduction a:link, .Leucine_reduction a:visited {
  color: white;
}
rect.Leucine_reduction {
  fill: #b44e57;
  stroke: orangered;
}
.Leucine_reduction.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.Leucine_reduction:hover {
  background-color: #c26e76;
}

.AAA_reductive_branch {
  background-color: #b44e57;
}
.AAA_reductive_branch a, .AAA_reductive_branch a:link,
.AAA_reductive_branch a:visited {
  color: white;
}
rect.AAA_reductive_branch {
  fill: #b44e57;
  stroke: orangered;
}
.AAA_reductive_branch.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.AAA_reductive_branch:hover {
  background-color: #c26e76;
}

.glutamate2butyric {
  background-color: #b44e57;
}
.glutamate2butyric a, .glutamate2butyric a:link, .glutamate2butyric a:visited {
  color: white;
}
rect.glutamate2butyric {
  fill: #b44e57;
  stroke: orangered;
}
.glutamate2butyric.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.glutamate2butyric:hover {
  background-color: #c26e76;
}

.porA {
  background-color: #6eabf4;
}
.porA a, .porA a:link, .porA a:visited {
  color: midnight;
}
rect.porA {
  fill: #6eabf4;
  stroke: orangered;
}
.porA.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.porA:hover {
  background-color: #99c4f7;
}

.OD_lactate_related {
  background-color: #6eabf4;
}
.OD_lactate_related a, .OD_lactate_related a:link, .OD_lactate_related a:visited {
  color: midnight;
}
rect.OD_lactate_related {
  fill: #6eabf4;
  stroke: orangered;
}
.OD_lactate_related.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.OD_lactate_related:hover {
  background-color: #99c4f7;
}

.OD_eut_pdu_related {
  background-color: #6eabf4;
}
.OD_eut_pdu_related a, .OD_eut_pdu_related a:link, .OD_eut_pdu_related a:visited {
  color: midnight;
}
rect.OD_eut_pdu_related {
  fill: #6eabf4;
  stroke: orangered;
}
.OD_eut_pdu_related.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.OD_eut_pdu_related:hover {
  background-color: #99c4f7;
}

.OD_AA_metabolism {
  background-color: #6eabf4;
}
.OD_AA_metabolism a, .OD_AA_metabolism a:link, .OD_AA_metabolism a:visited {
  color: midnight;
}
rect.OD_AA_metabolism {
  fill: #6eabf4;
  stroke: orangered;
}
.OD_AA_metabolism.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.OD_AA_metabolism:hover {
  background-color: #99c4f7;
}

.OD_fatty_acids {
  background-color: #6eabf4;
}
.OD_fatty_acids a, .OD_fatty_acids a:link, .OD_fatty_acids a:visited {
  color: midnight;
}
rect.OD_fatty_acids {
  fill: #6eabf4;
  stroke: orangered;
}
.OD_fatty_acids.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.OD_fatty_acids:hover {
  background-color: #99c4f7;
}

.OD_aldehydes_related {
  background-color: #6eabf4;
}
.OD_aldehydes_related a, .OD_aldehydes_related a:link,
.OD_aldehydes_related a:visited {
  color: midnight;
}
rect.OD_aldehydes_related {
  fill: #6eabf4;
  stroke: orangered;
}
.OD_aldehydes_related.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.OD_aldehydes_related:hover {
  background-color: #99c4f7;
}

.OD_GR_eut_related {
  background-color: #2d7aea;
}
.OD_GR_eut_related a, .OD_GR_eut_related a:link, .OD_GR_eut_related a:visited {
  color: midnight;
}
rect.OD_GR_eut_related {
  fill: #2d7aea;
  stroke: orangered;
}
.OD_GR_eut_related.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.OD_GR_eut_related:hover {
  background-color: #5794ee;
}

.OD_GR_unassigned {
  background-color: #2d7aea;
}
.OD_GR_unassigned a, .OD_GR_unassigned a:link, .OD_GR_unassigned a:visited {
  color: midnight;
}
rect.OD_GR_unassigned {
  fill: #2d7aea;
  stroke: orangered;
}
.OD_GR_unassigned.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.OD_GR_unassigned:hover {
  background-color: #5794ee;
}

.bai_operon {
  background-color: #d19d9d;
}
.bai_operon a, .bai_operon a:link, .bai_operon a:visited {
  color: black;
}
rect.bai_operon {
  fill: #d19d9d;
  stroke: orangered;
}
.bai_operon.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.bai_operon:hover {
  background-color: #e0bcbc;
}

.Flavoenzyme_AA_peptides_catabolism {
  background-color: #d19d9d;
}
.Flavoenzyme_AA_peptides_catabolism a, .Flavoenzyme_AA_peptides_catabolism a:link,
.Flavoenzyme_AA_peptides_catabolism a:visited {
  color: black;
}
rect.Flavoenzyme_AA_peptides_catabolism {
  fill: #d19d9d;
  stroke: orangered;
}
.Flavoenzyme_AA_peptides_catabolism.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.Flavoenzyme_AA_peptides_catabolism:hover {
  background-color: #e0bcbc;
}

.Flavoenzyme_sugar_catabolism {
  background-color: #d19d9d;
}
.Flavoenzyme_sugar_catabolism a, .Flavoenzyme_sugar_catabolism a:link,
.Flavoenzyme_sugar_catabolism a:visited {
  color: black;
}
rect.Flavoenzyme_sugar_catabolism {
  fill: #d19d9d;
  stroke: orangered;
}
.Flavoenzyme_sugar_catabolism.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.Flavoenzyme_sugar_catabolism:hover {
  background-color: #e0bcbc;
}

.Flavoenzyme_lipids_catabolism {
  background-color: #d19d9d;
}
.Flavoenzyme_lipids_catabolism a, .Flavoenzyme_lipids_catabolism a:link,
.Flavoenzyme_lipids_catabolism a:visited {
  color: black;
}
rect.Flavoenzyme_lipids_catabolism {
  fill: #d19d9d;
  stroke: orangered;
}
.Flavoenzyme_lipids_catabolism.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.Flavoenzyme_lipids_catabolism:hover {
  background-color: #e0bcbc;
}

.hydroxybenzoate2phenol {
  background-color: #68273c;
}
.hydroxybenzoate2phenol a, .hydroxybenzoate2phenol a:link,
.hydroxybenzoate2phenol a:visited {
  color: white;
}
rect.hydroxybenzoate2phenol {
  fill: #68273c;
  stroke: orangered;
}
.hydroxybenzoate2phenol.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.hydroxybenzoate2phenol:hover {
  background-color: #89344f;
}

.arginine2spermitine_N_carbomyl_Putrescine {
  background-color: #68273c;
}
.arginine2spermitine_N_carbomyl_Putrescine a,
.arginine2spermitine_N_carbomyl_Putrescine a:link,
.arginine2spermitine_N_carbomyl_Putrescine a:visited {
  color: white;
}
rect.arginine2spermitine_N_carbomyl_Putrescine {
  fill: #68273c;
  stroke: orangered;
}
.arginine2spermitine_N_carbomyl_Putrescine.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.arginine2spermitine_N_carbomyl_Putrescine:hover {
  background-color: #89344f;
}

.arginine2spermitine_via_agmatine {
  background-color: #68273c;
}
.arginine2spermitine_via_agmatine a, .arginine2spermitine_via_agmatine a:link,
.arginine2spermitine_via_agmatine a:visited {
  color: white;
}
rect.arginine2spermitine_via_agmatine {
  fill: #68273c;
  stroke: orangered;
}
.arginine2spermitine_via_agmatine.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.arginine2spermitine_via_agmatine:hover {
  background-color: #89344f;
}

.Arginine2_Hcarbonate {
  background-color: #68273c;
}
.Arginine2_Hcarbonate a, .Arginine2_Hcarbonate a:link,
.Arginine2_Hcarbonate a:visited {
  color: white;
}
rect.Arginine2_Hcarbonate {
  fill: #68273c;
  stroke: orangered;
}
.Arginine2_Hcarbonate.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.Arginine2_Hcarbonate:hover {
  background-color: #89344f;
}

.gallic_acid_met {
  background-color: #68273c;
}
.gallic_acid_met a, .gallic_acid_met a:link, .gallic_acid_met a:visited {
  color: white;
}
rect.gallic_acid_met {
  fill: #68273c;
  stroke: orangered;
}
.gallic_acid_met.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.gallic_acid_met:hover {
  background-color: #89344f;
}

.acetate2butyrate {
  background-color: #68273c;
}
.acetate2butyrate a, .acetate2butyrate a:link, .acetate2butyrate a:visited {
  color: white;
}
rect.acetate2butyrate {
  fill: #68273c;
  stroke: orangered;
}
.acetate2butyrate.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.acetate2butyrate:hover {
  background-color: #89344f;
}

.Lysine_degradation {
  background-color: #68273c;
}
.Lysine_degradation a, .Lysine_degradation a:link, .Lysine_degradation a:visited {
  color: white;
}
rect.Lysine_degradation {
  fill: #68273c;
  stroke: orangered;
}
.Lysine_degradation.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.Lysine_degradation:hover {
  background-color: #89344f;
}

.caffeate_respiration {
  background-color: #68273c;
}
.caffeate_respiration a, .caffeate_respiration a:link,
.caffeate_respiration a:visited {
  color: white;
}
rect.caffeate_respiration {
  fill: #68273c;
  stroke: orangered;
}
.caffeate_respiration.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.caffeate_respiration:hover {
  background-color: #89344f;
}

.carnitine_degradaion_caiTABCDE {
  background-color: #68273c;
}
.carnitine_degradaion_caiTABCDE a, .carnitine_degradaion_caiTABCDE a:link,
.carnitine_degradaion_caiTABCDE a:visited {
  color: white;
}
rect.carnitine_degradaion_caiTABCDE {
  fill: #68273c;
  stroke: orangered;
}
.carnitine_degradaion_caiTABCDE.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.carnitine_degradaion_caiTABCDE:hover {
  background-color: #89344f;
}

.aminobutyrate2Butyrate {
  background-color: #68273c;
}
.aminobutyrate2Butyrate a, .aminobutyrate2Butyrate a:link,
.aminobutyrate2Butyrate a:visited {
  color: white;
}
rect.aminobutyrate2Butyrate {
  fill: #68273c;
  stroke: orangered;
}
.aminobutyrate2Butyrate.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.aminobutyrate2Butyrate:hover {
  background-color: #89344f;
}

.succinate2propionate {
  background-color: #68273c;
}
.succinate2propionate a, .succinate2propionate a:link,
.succinate2propionate a:visited {
  color: white;
}
rect.succinate2propionate {
  fill: #68273c;
  stroke: orangered;
}
.succinate2propionate.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.succinate2propionate:hover {
  background-color: #89344f;
}

.acrylate2propionate {
  background-color: #68273c;
}
.acrylate2propionate a, .acrylate2propionate a:link, .acrylate2propionate a:visited {
  color: white;
}
rect.acrylate2propionate {
  fill: #68273c;
  stroke: orangered;
}
.acrylate2propionate.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.acrylate2propionate:hover {
  background-color: #89344f;
}

.succinate2propionate {
  background-color: #68273c;
}
.succinate2propionate a, .succinate2propionate a:link,
.succinate2propionate a:visited {
  color: white;
}
rect.succinate2propionate {
  fill: #68273c;
  stroke: orangered;
}
.succinate2propionate.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.succinate2propionate:hover {
  background-color: #89344f;
}

.Glycine_reductase {
  background-color: #68273c;
}
.Glycine_reductase a, .Glycine_reductase a:link, .Glycine_reductase a:visited {
  color: white;
}
rect.Glycine_reductase {
  fill: #68273c;
  stroke: orangered;
}
.Glycine_reductase.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.Glycine_reductase:hover {
  background-color: #89344f;
}

.Glycine_cleavage {
  background-color: #68273c;
}
.Glycine_cleavage a, .Glycine_cleavage a:link, .Glycine_cleavage a:visited {
  color: white;
}
rect.Glycine_cleavage {
  fill: #68273c;
  stroke: orangered;
}
.Glycine_cleavage.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.Glycine_cleavage:hover {
  background-color: #89344f;
}

.arginine_degradation_astABCDE_operon {
  background-color: #68273c;
}
.arginine_degradation_astABCDE_operon a,
.arginine_degradation_astABCDE_operon a:link,
.arginine_degradation_astABCDE_operon a:visited {
  color: white;
}
rect.arginine_degradation_astABCDE_operon {
  fill: #68273c;
  stroke: orangered;
}
.arginine_degradation_astABCDE_operon.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.arginine_degradation_astABCDE_operon:hover {
  background-color: #89344f;
}

.histidine2glutamate_hutHGIU_operon {
  background-color: #68273c;
}
.histidine2glutamate_hutHGIU_operon a, .histidine2glutamate_hutHGIU_operon a:link,
.histidine2glutamate_hutHGIU_operon a:visited {
  color: white;
}
rect.histidine2glutamate_hutHGIU_operon {
  fill: #68273c;
  stroke: orangered;
}
.histidine2glutamate_hutHGIU_operon.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.histidine2glutamate_hutHGIU_operon:hover {
  background-color: #89344f;
}

.Leucine2acetoacetate {
  background-color: #68273c;
}
.Leucine2acetoacetate a, .Leucine2acetoacetate a:link,
.Leucine2acetoacetate a:visited {
  color: white;
}
rect.Leucine2acetoacetate {
  fill: #68273c;
  stroke: orangered;
}
.Leucine2acetoacetate.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.Leucine2acetoacetate:hover {
  background-color: #89344f;
}

.Glycerol2glyceroneP {
  background-color: #68273c;
}
.Glycerol2glyceroneP a, .Glycerol2glyceroneP a:link, .Glycerol2glyceroneP a:visited {
  color: white;
}
rect.Glycerol2glyceroneP {
  fill: #68273c;
  stroke: orangered;
}
.Glycerol2glyceroneP.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.Glycerol2glyceroneP:hover {
  background-color: #89344f;
}

.Pyruvate2succinyl {
  background-color: #68273c;
}
.Pyruvate2succinyl a, .Pyruvate2succinyl a:link, .Pyruvate2succinyl a:visited {
  color: white;
}
rect.Pyruvate2succinyl {
  fill: #68273c;
  stroke: orangered;
}
.Pyruvate2succinyl.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.Pyruvate2succinyl:hover {
  background-color: #89344f;
}

.TPP_fatty_acids {
  background-color: #68273c;
}
.TPP_fatty_acids a, .TPP_fatty_acids a:link, .TPP_fatty_acids a:visited {
  color: white;
}
rect.TPP_fatty_acids {
  fill: #68273c;
  stroke: orangered;
}
.TPP_fatty_acids.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.TPP_fatty_acids:hover {
  background-color: #89344f;
}

.TPP_AA_metabolism {
  background-color: #68273c;
}
.TPP_AA_metabolism a, .TPP_AA_metabolism a:link, .TPP_AA_metabolism a:visited {
  color: white;
}
rect.TPP_AA_metabolism {
  fill: #68273c;
  stroke: orangered;
}
.TPP_AA_metabolism.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.TPP_AA_metabolism:hover {
  background-color: #89344f;
}

.Others_HGD_unassigned {
  background-color: #68273c;
}
.Others_HGD_unassigned a, .Others_HGD_unassigned a:link,
.Others_HGD_unassigned a:visited {
  color: white;
}
rect.Others_HGD_unassigned {
  fill: #68273c;
  stroke: orangered;
}
.Others_HGD_unassigned.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.Others_HGD_unassigned:hover {
  background-color: #89344f;
}

.fatty_acids-unassigned {
  background-color: #68273c;
}
.fatty_acids-unassigned a, .fatty_acids-unassigned a:link,
.fatty_acids-unassigned a:visited {
  color: white;
}
rect.fatty_acids-unassigned {
  fill: #68273c;
  stroke: orangered;
}
.fatty_acids-unassigned.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.fatty_acids-unassigned:hover {
  background-color: #89344f;
}

.OD_unknown {
  background-color: #68273c;
}
.OD_unknown a, .OD_unknown a:link, .OD_unknown a:visited {
  color: white;
}
rect.OD_unknown {
  fill: #68273c;
  stroke: orangered;
}
.OD_unknown.active {
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
.OD_unknown:hover {
  background-color: #89344f;
}

body {
  font-family: Helvetica, Verdana, Tahoma, Sans-Serif;
  color: #555;
  background-color: white;
  text-align: left;
  margin: 0;
  padding: 0;
}

a, .clipboard-copy {
  text-decoration: none;
  background-color: rgba(225, 225, 225, 0.9);
  border-radius: 2px;
  color: black;
  cursor: pointer;
  padding-right: 0.3em;
  padding-left: 0.3em;
  font-size: 95%;
}
a:active, .clipboard-copy:active {
  color: #665511;
}
a:hover, .clipboard-copy:hover {
  text-decoration: underline;
}
a:link, .clipboard-copy:link {
  color: #1d1414;
}
a:visited, .clipboard-copy:visited {
  color: #1d1414;
}

.regbutton a {
  background: none;
}

dd {
  margin-left: 1.5em;
}

.white {
  color: white;
}

.icons {
  margin-top: 1em;
}

.as-icon-active {
  box-shadow: 0 3px 6px rgba(255, 255, 255, 0.4), inset 0 -3px 3px rgba(255, 255, 255,
    0.6);
}

nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.25em;
  border-bottom: 2px solid #bb9933;
  background-image: linear-gradient(to bottom, #5e5e5e 0%, #444 100%);
  background-repeat: repeat-x;
  color: #e1e1e1;
  font-size: 14px;
  border-bottom: 4px solid #665511;
  height: 50px;
}
nav a {
  background: none;
  color: #e1e1e1;
}
nav a:visited, nav a:link {
  color: #e1e1e1;
}
nav a:hover {
  color: white;
  text-decoration: none;
}
nav .main-link {
  font-size: 18px;
  padding-right: 15px;
}
nav .main-link div {
  display: block;
  float: left;
  padding-left: 15px;
  padding-top: 9px;
  line-height: 200%;
}
nav .ancillary-links {
  display: block;
  padding-right: 15px;
  padding-top: 15px;
}
nav .ancillary-links .ancillary-link {
  display: block;
  position: relative;
  float: left;
}
nav .ancillary-links .ancillary-link a {
  padding-left: 2em;
}
nav .ancillary-links .ancillary-link a img {
  height: 1em;
}
nav .custom-description {
  font-size: 90%;
  padding-top: 15px;
  line-height: 200%;
}

.footer {
  padding-top: 0.25em;
  border-top: 1px solid #bb9933;
  display: flex;
  justify-content: center;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
.footer .container .cite-me {
  margin-top: 1em;
  margin-left: 1em;
  height: 1.5em;
  background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  border-color: #dcdcdc;
  border-radius: 4px;
  padding: 19px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}

.antismash-logo {
  float: left;
}

.antismash-title {
  margin: 1em 1em 0px 1em;
  float: left;
}
.antismash-title a {
  color: white;
  font-size: 120%;
  font-weight: 600;
}
.antismash-title a:hover {
  text-decoration: none;
}

.arrow-left {
  width: 0;
  height: 0;
  cursor: pointer;
  border-top: 1.2em solid transparent;
  border-bottom: 1.2em solid transparent;
  border-right: 1.2em solid #665511;
}
.arrow-left:hover {
  border-right-color: #8d7618;
}

.arrow-right {
  width: 0;
  height: 0;
  cursor: pointer;
  border-top: 1.2em solid transparent;
  border-bottom: 1.2em solid transparent;
  border-left: 1.2em solid #665511;
}
.arrow-right:hover {
  border-right-color: #8d7618;
}

#icons {
  margin-top: 2em;
  float: left;
  font-size: 0.9em;
  min-height: 1.1em;
  overflow: visible;
}

#downloadmenu {
  border: 1px solid black;
  background-color: white;
  display: none;
  position: absolute;
  width: 20%;
}

#downloadoptions {
  list-style-type: none;
  padding: 0 0 0 0.2em;
}
#downloadoptions li {
  margin: 0;
}

#buttons {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  overflow: hidden;
}

#region-type {
  margin-left: 0.5em;
}

.page {
  overflow: hidden;
}
.page h3, .page .heading {
  font-size: 90%;
  background-color: #665511;
  color: white;
  margin: 0.1em 0 0.4em 0.1em;
  padding-left: 0.5em;
  height: 1.55em;
  line-height: 1.55em;
  vertical-align: middle;
}
.page .heading {
  font-weight: 600;
  margin-left: 0;
  margin-top: 0;
}

.no-results {
  text-align: center;
  padding: 1em 0;
  font-weight: 600;
  background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  border-color: #dcdcdc;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}

.focus-panel {
  display: block;
  border-left: 2px solid #665511;
  padding-bottom: 1em;
}

.sidepanel {
  display: block;
  border-left: 2px solid #665511;
}

.structure img {
  display: inline-block;
  width: 80%;
  height: auto;
}

.modal-container {
  display: none;
  position: absolute;
  z-index: 2;
  padding-top: 5%;
  padding-left: 10%;
  padding-bottom: 100%;
  left: 0;
  top: 0;
  width: 90%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-container .modal-content {
  position: relative;
}
.modal-container .smiles-canvas-modal {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  height: 80%;
  width: 80%;
}

.structure-link {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.as-structure-warning {
  font-size: 90%;
}

.prediction-text {
  font-size: 75%;
  margin-left: 0.5em;
}

.content {
  display: block;
}

.region-type {
  margin: 0 0 0 0.5em;
  padding: 0;
}

.region-svg-container {
  margin: 0 2% 0 2%;
}

#regionbuttons {
  display: flex;
  margin: 0 0.5em 0 0.5em;
  padding: 0;
  min-height: 1.1em;
}
#regionbuttons a {
  background: none;
}
#regionbuttons a:hover {
  text-decoration: none;
}
#regionbuttons .regbutton {
  margin: 0;
  margin-right: 0.2em;
  margin-bottom: 0.2em;
  border-radius: 0.5em;
  padding: 0.25em;
  min-width: 3em;
  text-align: center;
  vertical-align: middle;
  line-height: 1.3em;
  height: 1.3em;
}
#regionbuttons li.active {
  padding: 0.14em;
}

.dha {
  font-weight: 600;
  color: mediumseagreen;
}

.dhb {
  font-weight: 600;
  color: mediumorchid;
}

.cys {
  font-weight: 600;
  color: royalblue;
}

.macrolactam {
  font-weight: 600;
  color: red;
}

.cut {
  font-weight: 600;
  color: purple;
}

.separator-text {
  font-size: 80%;
  padding-top: 1em;
}

.description-text, .cluster-rules-header, .alt-weight-desc, .alt-weight-n {
  font-size: 85%;
}

.alt-weight-n {
  padding-left: 2.5em;
}

.region-download {
  font-size: 75%;
  float: right;
  padding: 5px;
  margin-right: 20px;
  border-radius: 5px;
  background-color: #eee;
}

.cluster-rules {
  font-size: 75%;
  display: none;
  border: 1px solid slategray;
  background-color: #ddd;
}

.description-container {
  margin-left: 0.5em;
}

.contig-edge-warning {
  font-size: 75%;
  font-weight: 600;
  float: right;
  color: black;
  background-color: orange;
  padding: 5px;
  margin-right: 20px;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
}

.overview-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: 0.5em;
}
.overview-layout .overview-switches {
  padding-left: 0.5em;
  padding-right: 0.5em;
  min-width: 10em;
}

table.region-table {
  padding: 0;
}
table.region-table th {
  margin: 0.2em 0.5em;
  padding: 0 0.5em;
}
table.region-table .even {
  background-color: #f1f1f1;
}
table.region-table td {
  margin: 0.2em 0.5em;
  padding: 0.2em 0.5em;
}
table.region-table .digits {
  text-align: right;
}
table.region-table .linked-row {
  cursor: pointer;
}

.record-overview-header {
  background-color: #ddd;
  padding-top: 0.5em;
}

.record-overview-details {
  padding-left: 1em;
  padding-bottom: 1em;
  margin-top: 0.5em;
}

.tooltip, .jsdomain-tooltip, .clusterblast-tooltip, .help-container .help-tooltip {
  background-image: linear-gradient(to bottom, #5e5e5e 0%, #444 100%);
  background-repeat: repeat-x;
  color: #e1e1e1;
  font-weight: normal;
  display: none;
  border-radius: 0.2em;
  width: 35vw;
  padding: 0.5em;
  position: absolute;
  top: 50%;
  right: 105%;
  z-index: 1;
}

.similarity-text {
  color: #1d1414;
}

.svgene-type-other {
  fill: gray;
  stroke: black;
}

.svgene-type-biosynthetic {
  fill: #810e15;
  stroke: black;
}

.svgene-type-biosynthetic-additional {
  fill: #f16d75;
  stroke: black;
}

.svgene-type-transport {
  fill: #6E8EFF;
  stroke: black;
}

.svgene-type-resistance {
  fill: #C64A9D;
  stroke: black;
}

.svgene-type-regulatory {
  fill: seagreen;
  stroke: black;
}

.svgene-type-electron_transport {
  fill: DarkGoldenRod;
  stroke: black;
}

.svgene-type-encapsulation {
  fill: DarkOrange;
  stroke: black;
}

.svgene-tta-codon {
  fill: magenta;
}

.cluster-line, .centerline {
  stroke-width: 1px;
  stroke: #888;
}

.svgene-locustag {
  fill: #665511;
  display: none;
  font-size: 80%;
}

.cluster-core {
  stroke: black;
  stroke-width: 1px;
  fill: white;
}

.svgene-border-cassis .cluster-core {
  stroke: black;
  stroke-width: 1px;
  fill: wheat;
}

.svgene-border-clusterfinder .cluster-core {
  stroke-width: 0px;
  fill: teal;
}

.svgene-orf, .svgene-minimap-orf {
  stroke-width: 0;
}

.svgene-selected-orf {
  stroke: #000;
  stroke-width: 1px;
}

.legend-items, .zoom-buttons {
  display: flex;
  justify-content: center;
}

.button-like {
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 0.5em;
  margin-left: 1em;
  padding: 0.5em;
  padding-top: 0.3em;
  box-shadow: inset 0 -2px 2px grey;
  cursor: default;
  font-size: 80%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button-like:hover {
  background-color: #fcfcfc;
  box-shadow: inset 0 2px 5px grey;
}
.button-like:active {
  background-color: #eee;
  box-shadow: inset 0 2px 5px grey;
}
.button-like * {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button-like img {
  height: 1.5em;
  padding-right: 0.5em;
}

.legend-selected {
  background-color: #eee;
  box-shadow: inset 0 2px 5px grey;
}

.legend-selector * {
  cursor: default;
}

.legend-selector-static {
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 0.5em;
  margin-left: 1em;
  padding: 0.5em;
  padding-top: 0.3em;
  cursor: default;
  font-size: 80%;
}
.legend-selector-static * {
  cursor: default;
}

.legend-type-other {
  background-color: gray;
}

.legend-type-biosynthetic {
  background-color: #810e15;
}

.legend-type-biosynthetic-additional {
  background-color: #f16d75;
}

.legend-type-transport {
  background-color: #6E8EFF;
}

.legend-type-regulatory {
  background-color: seagreen;
}

.legend-type-encapsulation {
  background-color: DarkOrange;
}

.legend-type-resistance {
  background-color: #C64A9D;
}

.legend-type-electron_transport {
  background-color: DarkGoldenRod;
}

.legend-border-cassis {
  background-color: wheat;
}

.legend-border-clusterfinder {
  background-color: teal;
}

.legend-tta-codon {
  background-color: magenta;
}

.legend {
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}
.legend h4 {
  margin-bottom: 0.5em;
}

.legend-field {
  float: left;
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  border: 1px solid black;
}

.legend-label {
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.zoom-button {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 0.5em;
  box-shadow: inset 0 -2px 2px grey;
  font-size: 80%;
  margin-left: 1em;
  padding: 0.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.zoom-button:hover {
  background-color: #fcfcfc;
  box-shadow: inset 0 2px 5px grey;
}
.zoom-button:active {
  background-color: #eee;
  box-shadow: inset 0 2px 5px grey;
}

.details-text {
  padding-bottom: 0.5em;
}

.details-svg {
  margin: 0 2%;
}

.jsdomain-line {
  stroke-width: 1px;
  stroke: #888;
}

.jsdomain-orflabel {
  fill: #444;
}

.jsdomain-tooltip {
  font-size: 90%;
}

.jsdomain-text {
  pointer-events: none;
}

.clusterblast-locustag {
  fill: #665511;
  display: none;
  font-size: 80%;
  position: absolute;
}

.clusterblast-tooltip {
  font-size: 90%;
}

.clusterblast-acc, .clusterblast-desc {
  fill: #665511;
  font-size: 80%;
  font-family: Verdana, Tahoma, Sans-Serif;
}

.clusterblast-desc {
  font-size: 75%;
}

.clusterborderlabel {
  font-size: 25%;
}

#footer {
  border-top: 2px solid #665511;
}

#logos {
  float: left;
  padding-left: 0.5em;
  margin-top: 5px;
}
#logos img {
  padding-right: 25px;
}

#logo-table tr td {
  height: 50px;
  padding: 5px;
}

#copyright {
  font-size: 60%;
  float: right;
  width: 40%;
  margin-right: 1.5em;
  padding: 0.5em;
}

.collapser {
  border: none;
  display: inline;
  border-radius: 50%;
}

.collapser:before {
  background-size: 1.1em 1.1em;
  height: 1.1em;
  width: 1.1em;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 0.5em;
  content: '';
  background-image: url(../images/plus-circle.svg);
}

.expanded:before {
  background-size: 1.1em 1.1em;
  height: 1.1em;
  width: 1.1em;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 0.5em;
  content: '';
  background-image: url(../images/minus-circle.svg);
}

.external-link:after {
  background-size: 1.1em 1.1em;
  height: 1.1em;
  width: 1.1em;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 0.5em;
  content: '';
  font-size: 75%;
  background-image: url(../images/external-link-alt-solid.svg);
}

.collapser-content {
  display: none;
  padding-left: 1em;
}

.candidate-hybrid rect {
  fill: #282268;
}
.candidate-hybrid text {
  fill: lightgrey;
}

.candidate-interleaved rect {
  fill: #4b4596;
}
.candidate-interleaved text {
  fill: lightgrey;
}

.candidate-neighbouring rect {
  fill: #8680cc;
}
.candidate-neighbouring text {
  fill: #ddd;
}

.candidate-single rect {
  fill: #c6c1f5;
}
.candidate-single text {
  fill: black;
}

ul.dropdown-options {
  display: none;
  position: relative;
  top: -55px;
  padding: 70px 0 0 0;
  margin: 0;
}
ul.dropdown-options:hover {
  display: block;
}
ul.dropdown-options li {
  background-image: linear-gradient(to bottom, #5e5e5e 0%, #444 100%);
  background-repeat: repeat-x;
  padding: 10px;
  list-style: none;
}
ul.dropdown-options li:hover {
  cursor: pointer;
}

.dropdown-menu {
  text-align: right;
  z-index: 1;
}
.dropdown-menu:active ul {
  display: block;
}
.dropdown-menu:active #download-dropdown-link {
  display: block;
}

.body-details-headers, .sidepanel-details-headers {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.5em;
}
.body-details-headers .body-details-header,
.body-details-headers .sidepanel-details-header,
.sidepanel-details-headers .body-details-header,
.sidepanel-details-headers .sidepanel-details-header {
  font-size: 90%;
  background-color: rgba(102, 85, 17, 0.6);
  color: white;
  margin-right: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.body-details-headers .body-details-header:hover,
.body-details-headers .sidepanel-details-header:hover,
.sidepanel-details-headers .body-details-header:hover,
.sidepanel-details-headers .sidepanel-details-header:hover {
  background-color: rgba(102, 85, 17, 0.8);
}
.body-details-headers .body-details-header-active,
.body-details-headers .sidepanel-details-header-active,
.sidepanel-details-headers .body-details-header-active,
.sidepanel-details-headers .sidepanel-details-header-active {
  background-color: #665511;
}
.body-details-headers .body-details-header-active:hover,
.body-details-headers .sidepanel-details-header-active:hover,
.sidepanel-details-headers .body-details-header-active:hover,
.sidepanel-details-headers .sidepanel-details-header-active:hover {
  background-color: #665511;
}

.sidepanel-details-headers {
  margin-left: 0;
}

.body-details-section {
  margin-left: 0.5em;
}
.body-details-section * h3 {
  margin-top: 0;
  margin-left: 0;
}

.sidepanel-details-section {
  margin-left: 0;
}
.sidepanel-details-section * h3 {
  margin-top: 0;
  margin-left: 0;
}

.nrps-pks-domain-buttons {
  display: flex;
  justify-content: space-around;
}

.switch-container span.switch-desc {
  padding-right: 0.5em;
}
.switch-container .switch {
  position: relative;
  display: inline-block;
  width: 2.5em;
  height: 1.5em;
}
.switch-container .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch-container .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 1.5em;
}
.switch-container .slider:before {
  position: absolute;
  content: "";
  height: 80%;
  width: 50%;
  left: 10%;
  bottom: 10%;
  background-color: white;
  transition: 0.2s;
  border-radius: 50%;
}
.switch-container input:checked + .slider {
  background-color: #665511;
}
.switch-container input:checked + .slider:before {
  transform: translateX(60%);
}

.help-container {
  position: relative;
  display: inline;
  float: right;
}
.help-container .help-icon {
  display: inline-block;
  float: right;
  -webkit-mask: url(../images/question-circle-solid.svg) no-repeat center;
  mask: url(../images/question-circle-solid.svg) no-repeat center;
  background-color: white;
  width: 1.3em;
  height: 1.3em;
  margin-top: 1px;
  margin-right: 2px;
}
.help-container .help-icon:hover {
  background-color: #ddd;
}
.help-container .help-icon:active, .help-container .help-icon.active {
  background-color: #bbb;
}

.focus-panel-content {
  margin-left: 2em;
  margin-right: 2em;
  font-size: 0.8em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
}

.region-grid {
  display: grid;
  grid-template-columns: auto 25%;
  grid-gap: 1px;
}

.table-split-left {
  border-right: 5px solid #f1f1f1;
}
