/* colour definitions for secondary metabolite types */

@mixin secmet($fg: black, $bg: white, $highlight: orangered){
    background-color: $bg;
    a, a:link, a:visited {
        color: $fg;
    }
    rect& {
        fill: $bg;
        stroke: $highlight;
    }
    &.active {
        border-color: $highlight;
        border-width: 2px;
        border-style: solid;
    }
    &:hover {
        background-color: lighten($bg, 9%);
    }
}

.hybrid {
    @include secmet(black, #efef56, black);
}

@mixin GR {
    @include secmet(white, #893f75);
}

.TMA {
    @include GR;
}

.proline2aminovalerate {
    @include GR;
}

.EUT_pathway {
    @include GR;
}

.pdu {
    @include GR;
}

.p-cresol {
    @include GR;
}

.Threonine2propionate {
    @include GR;
}

.GR_AA_metabolism {
    @include GR;
}

.GR_eut-pdu-related {
    @include GR;
}

.GR_fatty_acids {
    @include GR;
}

@mixin DR {
    @include secmet(white, #b44e57);
}

.Leucine_reduction {
    @include DR;
}

.AAA_reductive_branch {
    @include DR;
}

.glutamate2butyric {
    @include DR;
}

@mixin OD {
    @include secmet(midnight, #6eabf4);
}

.porA {
    @include OD;
}

.OD_lactate_related {
    @include OD;
}

.OD_eut_pdu_related {
    @include OD;
}

.OD_AA_metabolism {
    @include OD;
}

.OD_fatty_acids {
    @include OD;
}

.OD_aldehydes_related {
    @include OD;
}

@mixin OD-GR {
    @include secmet(midnight, #2d7aea);
}

.OD_GR_eut_related {
    @include OD-GR;
}

.OD_GR_unassigned {
    @include OD-GR;
}

@mixin FE {
    @include secmet(black, #d19d9d);
}

.bai_operon {
    @include FE;
}

.Flavoenzyme_AA_peptides_catabolism {
    @include FE;
}

.Flavoenzyme_sugar_catabolism {
    @include FE;
}

.Flavoenzyme_lipids_catabolism {
    @include FE;
}

@mixin Other {
    @include secmet(white, #68273c);
}

.hydroxybenzoate2phenol {
    @include Other;
}

.arginine2spermitine_N_carbomyl_Putrescine {
    @include Other;
}

.arginine2spermitine_via_agmatine {
    @include Other;
}

.Arginine2_Hcarbonate {
    @include Other;
}

.gallic_acid_met {
    @include Other;
}

.acetate2butyrate {
    @include Other;
}

.Lysine_degradation {
    @include Other;
}

.caffeate_respiration {
    @include Other;
}

.carnitine_degradaion_caiTABCDE {
    @include Other;
}

.aminobutyrate2Butyrate {
    @include Other;
}

.succinate2propionate {
    @include Other;
}

.acrylate2propionate {
    @include Other;
}

.succinate2propionate {
    @include Other;
}

.Glycine_reductase {
    @include Other;
}

.Glycine_cleavage {
    @include Other;
}

.arginine_degradation_astABCDE_operon {
    @include Other;
}

.histidine2glutamate_hutHGIU_operon {
    @include Other;
}

.Leucine2acetoacetate {
    @include Other;
}

.Glycerol2glyceroneP {
    @include Other;
}

.Pyruvate2succinyl {
    @include Other;
}

.TPP_fatty_acids {
    @include Other;
}

.TPP_AA_metabolism {
    @include Other;
}

.Others_HGD_unassigned {
    @include Other;
}

.fatty_acids-unassigned {
    @include Other;
}

.OD_unknown {
    @include Other;
}