/* colour definitions for secondary metabolite types */

@mixin secmet($fg: black, $bg: white, $highlight: orangered){
    background-color: $bg;
    a, a:link, a:visited {
        color: $fg;
    }
    rect& {
        fill: $bg;
        stroke: $highlight;
    }
    &.active {
        border-color: $highlight;
        border-width: 2px;
        border-style: solid;
    }
    &:hover {
        background-color: lighten($bg, 9%);
    }
}

.hybrid {
    @include secmet(black, #ff9c49, black);
}

@mixin SCFA {
    @include secmet(black, #52bf90);
}

.Pyruvate2acetate-formate {
    @include SCFA;
}   

.Leucine_reduction {
    @include SCFA;
}
.acetate2butyrate {
    @include SCFA;
}
.porA {
    @include SCFA;
}
.PFOR_II_pathway {
    @include SCFA;
}
.Lysine_degradation {
    @include SCFA;
}
.glutamate2butyric {
    @include SCFA;
}
.aminobutyrate2Butyrate {
    @include SCFA;
}
.succinate2propionate {
    @include SCFA;
}
.acrylate2propionate {
    @include SCFA;
}
.Threonine2propionate {
    @include SCFA;
}
.Glycine_reductase {
    @include SCFA;
}
.Acetyl-CoA_pathway {
    @include SCFA;
}
.Fumarate2succinate {
    @include SCFA;
}

@mixin Aliphatic_amine-SCFA {
    @include secmet(white, #680b0b);
}


@mixin SCFA-other {
    @include secmet(black, #d19d9d);
}
.pdu {
    @include SCFA-other;
}

.TMA {
    @include SCFA-other;
}
.EUT_pathway {
    @include SCFA-other;
}

@mixin Aromatic {
    @include secmet(black, #e35d6a);
}
.hydroxybenzoate2phenol {
    @include Aromatic;
}

.p-cresol {
    @include Aromatic;
}
.gallic_acid_met {
    @include Aromatic;
}
.AAA_reductive_branch {
    @include Aromatic;
}
.caffeate_respiration {
    @include Aromatic;
}
.Indoleacetate2scatole {
    @include Aromatic;
}
.Phenylacetate2toluene {
    @include Aromatic;
}

@mixin  Aliphatic_amine {
    @include secmet(midnight, #005db2);
}
.Arginine2putrescine {
    @include Aliphatic_amine;
}
.Putrescine2spermidine {
    @include Aliphatic_amine;
}


@mixin  npAA {
    @include secmet(midnight, #facc0a);
}
.proline2aminovalerate  {
    @include npAA;
}
.carnitine_degradaion_caiTABCDE  {
    @include npAA;
}

@mixin  Other {
    @include secmet(white, #a600c5);
}
.Arginine2_Hcarbonate {
    @include Other;
}
.bai_operon {
    @include Other;
}
.Glycine_cleavage {
    @include Other;
}
.histidine2glutamate_hutHGIU_operon {
    @include Other;
}
.Oxidative_glycerol {
    @include Other;
}
.Hydroxy-L-proline2proline {
    @include Other;
}

@mixin  E-MGC {
    @include secmet(midnight, #97afd5);
}  
.Nitrate_reductase {
    @include E-MGC;
}
.Molybdopterin_dependent_oxidoreductase {
    @include E-MGC;
}
.Ech_complex {
    @include E-MGC;
}
.Rnf_complex {
    @include E-MGC;
}
.Respiratory_glycerol {
    @include E-MGC;
}
.Formate_dehydrogenase {
    @include E-MGC;
}
.Sulfate2sulfide {
    @include E-MGC;
}
.NADH_dehydrogenase_I {
    @include E-MGC;
}

@mixin  Putative {
    @include secmet(blue, #cecbc8);
}    
.OD_aldehydes_related {
    @include Putative;
}
.Others_HGD_unassigned {
    @include Putative;
}
.OD_unknown {
    @include Putative;
}
.OD_AA_metabolism {
    @include Putative;
}
.fatty_acids-unassigned {
    @include Putative;
}
.OD_GR_eut_related {
    @include Putative;
}
.OD_fatty_acids {
    @include Putative;
}
.OD_lactate_related {
    @include Putative;
}
.OD_GR_unassigned {
    @include Putative;
}
.OD_eut_pdu_related {
    @include Putative;
}
.Flavoenzyme_sugar_catabolism {
    @include Putative;
}
.GR_eut-pdu-related {
    @include Putative;
}
.Flavoenzyme_lipids_catabolism {
    @include Putative;
}
.GR_AA_metabolism {
    @include Putative;
}
.HGD_related {
    @include Putative;
}
.Flavoenzyme_AA_peptides_catabolism {
    @include Putative;
}
.TPP_AA_metabolism {
    @include Putative;
}
.TPP_fatty_acids {
    @include Putative;
}
.GR_fatty_acids {
    @include Putative;
}

